.o-footer {
    width: 100%;
    padding: 40px 0;
    background: $metro-purple;

    &__container {
        @include make-container();
        @include make-container-max-widths();
    }

    &__top {
        border-bottom: 1px solid $metro-white;
    }

    &__title {
        color: $metro-white;
        font-size: 24px;
        font-weight: $font-weight-bold;
        letter-spacing: 0;
        margin-bottom: 12px;
    }

    &__sub {
        color: $metro-white;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 0;
        margin-bottom: 30px;
    }

    &__copyright {
        text-align: right;
        color: $metro-white;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 0;
        margin-top: 20px;

        span {
            @include media-breakpoint-up(md) {
                display: none;
            }
        }
    }

}