$metro-gray: #00000014;
$metro-teal: #2BB6D6;
$metro-black: #242424;
$metro-white: #FEFEFF;
$metro-purple: #2A2733;
$light-grey: #F2F2F2;
$medium-grey: #CCCCCC;
$dark-grey: #8D8D8D;
$color-backdrop:  transparent linear-gradient(to right, #FDA357 0%, #B83E54 61%, #2D2E54 100%) ;

$color-primary: $metro-teal;
$color-secondary: $metro-gray;
$body-color: $metro-white;
$body-bg:  $metro-black;
